{% extends 'base/index.html' %}
{% block content %}
<div class="container skills">
  <div class="row container">
    <div class="col">
        <div class="progress crimson">
          <span class="progress-left">
            <span class="progress-bar"></span>
          </span>

          <span class="progress-right">
            <span class="progress-bar"></span>
          </span>

          <div class="progress-value">75%</div>
        </div>
          <div class="pie-value">
              <div class='box crimson'><p>Python, Django</p> </div>
              <div class='box white'> <p>HTML/CSS, JS</p> </div>
          </div>
        </div>
    </div>

    <div class="col">
      <div id="preview-shadow">
        <div id="preview">
            <div id="corner-tl" class="corner"></div>
            <div id="corner-tr" class="corner"></div>
            <div class="row">
                <ul>
                <li>Python</li>
                <li>Django</li>
                <li>DS and Algorithms</li>
                <li>MySQL</li>
                </ul>
            </div>

            <div class="row">
                <ul>
                <li>HTML/CSS</li>
                <li>Javascript</li>
                </ul>
            </div>

          <div class="row">
              <ul>
              <li>Selenium</li>
              <li>Robot Framework</li>
              </ul>
          </div>

          <div id="corner-br" class="corner"></div>
          <div id="corner-bl" class="corner"></div>
        </div>
    </div>
    </div>
  </div>


</div>

{% endblock %}
